<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>showTitle</key>
		<string>弹幕发送失败</string>
		<key>operationCode</key>
		<integer>5</integer>
		<key>content</key>
		<dict>
			<key>cd</key>
			<integer>1</integer>
			<key>error</key>
			<integer>4101</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>发送普通弹幕</string>
		<key>operationCode</key>
		<real>1000</real>
		<key>content</key>
		<dict>
			<key>content</key>
			<string>111</string>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>发送彩色弹幕</string>
		<key>operationCode</key>
		<integer>1001</integer>
		<key>content</key>
		<dict>
			<key>content</key>
			<string>111</string>
			<key>color</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>赠送礼物</string>
		<key>operationCode</key>
		<string>1002</string>
		<key>content</key>
		<dict>
			<key>gid</key>
			<integer>72</integer>
			<key>cnt</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>PK: 邀请用户</string>
		<key>operationCode</key>
		<string>2020</string>
		<key>content</key>
		<dict>
			<key>link_pk_id</key>
			<integer>2351</integer>
			<key>invalid_time</key>
			<integer>30</integer>
			<key>rec_nickname</key>
			<string>接受用户昵称</string>
			<key>nickname</key>
			<string>发送用户昵称</string>
			<key>rec_uid</key>
			<integer>1000000187</integer>
			<key>rec_room</key>
			<integer>1000000078</integer>
			<key>uid</key>
			<integer>5110251</integer>
			<key>send_room</key>
			<integer>10004031</integer>
			<key>micpk_type</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>PK: 同意或者拒绝邀请</string>
		<key>operationCode</key>
		<string>2020</string>
		<key>content</key>
		<dict>
			<key>link_pk_id</key>
			<integer>2351</integer>
			<key>invalid_time</key>
			<integer>30</integer>
			<key>rec_nickname</key>
			<string>接受用户昵称</string>
			<key>nickname</key>
			<string>发送用户昵称</string>
			<key>rec_uid</key>
			<integer>1000000187</integer>
			<key>rec_room</key>
			<integer>1000000078</integer>
			<key>uid</key>
			<integer>5110251</integer>
			<key>send_room</key>
			<integer>10004031</integer>
			<key>micpk_type</key>
			<integer>2</integer>
			<key>micpk_res</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>PK: 开始PK</string>
		<key>operationCode</key>
		<string>2020</string>
		<key>content</key>
		<dict>
			<key>link_pk_id</key>
			<integer>2351</integer>
			<key>invalid_time</key>
			<integer>30</integer>
			<key>rec_nickname</key>
			<string>接受用户昵称</string>
			<key>nickname</key>
			<string>发送用户昵称</string>
			<key>rec_uid</key>
			<integer>1000000187</integer>
			<key>rec_room</key>
			<real>1000000078</real>
			<key>uid</key>
			<integer>5110251</integer>
			<key>send_room</key>
			<integer>10004031</integer>
			<key>micpk_type</key>
			<integer>3</integer>
			<key>micpk_res</key>
			<integer>1</integer>
			<key>pk_sup_time</key>
			<integer>360</integer>
			<key>send_score</key>
			<integer>100</integer>
			<key>rec_score </key>
			<integer>200</integer>
			<key>win_uid</key>
			<real>1000000078</real>
			<key>t_remain</key>
			<integer>30</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>PK: PK送礼</string>
		<key>operationCode</key>
		<string>2020</string>
		<key>content</key>
		<dict>
			<key>link_pk_id</key>
			<integer>2351</integer>
			<key>invalid_time</key>
			<integer>30</integer>
			<key>rec_nickname</key>
			<string>接受用户昵称</string>
			<key>nickname</key>
			<string>发送用户昵称</string>
			<key>rec_uid</key>
			<integer>1000000187</integer>
			<key>rec_room</key>
			<real>1000000078</real>
			<key>uid</key>
			<integer>5110251</integer>
			<key>send_room</key>
			<integer>10004031</integer>
			<key>micpk_type</key>
			<integer>5</integer>
			<key>micpk_res</key>
			<integer>1</integer>
			<key>pk_sup_time</key>
			<integer>360</integer>
			<key>send_score</key>
			<integer>100</integer>
			<key>rec_score </key>
			<integer>200</integer>
			<key>win_uid</key>
			<real>1000000078</real>
			<key>t_remain</key>
			<integer>30</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>PK: 结束PK</string>
		<key>operationCode</key>
		<string>2020</string>
		<key>content</key>
		<dict>
			<key>pk_end_time</key>
			<integer>1000</integer>
			<key>link_pk_id</key>
			<integer>2351</integer>
			<key>invalid_time</key>
			<integer>30</integer>
			<key>rec_nickname</key>
			<string>接受用户昵称</string>
			<key>nickname</key>
			<string>发送用户昵称</string>
			<key>rec_uid</key>
			<integer>1000000187</integer>
			<key>rec_room</key>
			<real>1000000078</real>
			<key>uid</key>
			<integer>5110251</integer>
			<key>send_room</key>
			<integer>10004031</integer>
			<key>micpk_type</key>
			<integer>4</integer>
			<key>micpk_res</key>
			<integer>1</integer>
			<key>pk_sup_time</key>
			<integer>360</integer>
			<key>send_score</key>
			<integer>100</integer>
			<key>rec_score </key>
			<integer>200</integer>
			<key>win_uid</key>
			<real>1000000078</real>
			<key>t_remain</key>
			<integer>30</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>PK: 更新倒计时</string>
		<key>operationCode</key>
		<string>2020</string>
		<key>content</key>
		<dict>
			<key>link_pk_id</key>
			<integer>2351</integer>
			<key>invalid_time</key>
			<integer>30</integer>
			<key>rec_nickname</key>
			<string>接受用户昵称</string>
			<key>nickname</key>
			<string>发送用户昵称</string>
			<key>rec_uid</key>
			<integer>1000000187</integer>
			<key>rec_room</key>
			<real>1000000078</real>
			<key>uid</key>
			<integer>5110251</integer>
			<key>send_room</key>
			<integer>10004031</integer>
			<key>micpk_type</key>
			<integer>6</integer>
			<key>micpk_res</key>
			<integer>1</integer>
			<key>pk_sup_time</key>
			<integer>360</integer>
			<key>send_score</key>
			<integer>100</integer>
			<key>rec_score </key>
			<integer>200</integer>
			<key>win_uid</key>
			<real>1000000078</real>
			<key>t_remain</key>
			<integer>30</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>PK: 惩罚结束</string>
		<key>operationCode</key>
		<string>2020</string>
		<key>content</key>
		<dict>
			<key>link_pk_id</key>
			<integer>2351</integer>
			<key>invalid_time</key>
			<integer>30</integer>
			<key>rec_nickname</key>
			<string>接受用户昵称</string>
			<key>nickname</key>
			<string>发送用户昵称</string>
			<key>rec_uid</key>
			<integer>1000000187</integer>
			<key>rec_room</key>
			<real>1000000078</real>
			<key>uid</key>
			<integer>5110251</integer>
			<key>send_room</key>
			<integer>10004031</integer>
			<key>micpk_type</key>
			<integer>7</integer>
			<key>micpk_res</key>
			<integer>1</integer>
			<key>pk_sup_time</key>
			<integer>360</integer>
			<key>send_score</key>
			<integer>100</integer>
			<key>rec_score </key>
			<integer>200</integer>
			<key>win_uid</key>
			<real>1000000078</real>
			<key>t_remain</key>
			<integer>30</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>PK: 开始连麦</string>
		<key>operationCode</key>
		<string>2030</string>
		<key>content</key>
		<dict>
			<key>link_pk_id</key>
			<integer>2351</integer>
			<key>invalid_time</key>
			<integer>30</integer>
			<key>rec_nickname</key>
			<string>接受用户昵称</string>
			<key>nickname</key>
			<string>发送用户昵称</string>
			<key>rec_uid</key>
			<integer>1000000187</integer>
			<key>rec_room</key>
			<real>1000000078</real>
			<key>uid</key>
			<integer>5110251</integer>
			<key>send_room</key>
			<integer>10004031</integer>
			<key>micpk_type</key>
			<integer>3</integer>
			<key>micpk_res</key>
			<integer>1</integer>
			<key>pk_sup_time</key>
			<integer>360</integer>
			<key>send_score</key>
			<integer>100</integer>
			<key>rec_score </key>
			<integer>200</integer>
			<key>win_uid</key>
			<real>1000000078</real>
			<key>t_remain</key>
			<integer>30</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>下发礼物宝箱领取</string>
		<key>operationCode</key>
		<string>2004</string>
		<key>content</key>
		<dict>
			<key>rid</key>
			<integer>10141153</integer>
			<key>pid</key>
			<integer>0</integer>
			<key>cnt</key>
			<integer>10</integer>
			<key>pnm</key>
			<string>大宝剑</string>
			<key>sid</key>
			<integer>123</integer>
			<key>snk</key>
			<string>李超群</string>
			<key>did</key>
			<integer>123</integer>
			<key>dnk</key>
			<string>小老弟</string>
			<key>rpt</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>粉丝徽章</string>
		<key>operationCode</key>
		<string>2005</string>
		<key>content</key>
		<dict>
			<key>sid</key>
			<integer>123</integer>
			<key>snk</key>
			<string>小老弟</string>
			<key>dnk</key>
			<string>李超群</string>
			<key>rid</key>
			<integer>10141153</integer>
			<key>gt</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>用户封禁</string>
		<key>operationCode</key>
		<string>20004</string>
		<key>content</key>
		<dict>
			<key>uid</key>
			<integer>7441913</integer>
			<key>nickname</key>
			<string>小老弟</string>
			<key>expire_at</key>
			<integer>1599459359</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>用户禁言</string>
		<key>operationCode</key>
		<string>20012</string>
		<key>content</key>
		<dict>
			<key>op_user_id</key>
			<integer>5110251</integer>
			<key>user_id</key>
			<integer>7441913</integer>
			<key>op_user_nickname</key>
			<string>李超群</string>
			<key>user_nickname</key>
			<string>小老弟</string>
			<key>expire_at</key>
			<integer>1599460961</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>任命房管</string>
		<key>operationCode</key>
		<string>20006</string>
		<key>content</key>
		<dict>
			<key>grant_type</key>
			<integer>0</integer>
			<key>user_nickname</key>
			<string>小老弟</string>
			<key>user_id</key>
			<integer>7441913</integer>
			<key>op_user_id</key>
			<integer>5110251</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>高等级用户进房</string>
		<key>operationCode</key>
		<string>20005</string>
		<key>content</key>
		<dict>
			<key>lv</key>
			<integer>55</integer>
			<key>u</key>
			<integer>5110251</integer>
			<key>n</key>
			<string>小老弟</string>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>下发送礼</string>
		<key>operationCode</key>
		<string>2001</string>
		<key>content</key>
		<dict>
			<key>bcnt</key>
			<integer>9</integer>
			<key>bst</key>
			<integer>180000</integer>
			<key>dw</key>
			<integer>-1</integer>
			<key>elt</key>
			<integer>300</integer>
			<key>gfid</key>
			<integer>72</integer>
			<key>gs</key>
			<integer>9</integer>
			<key>nn</key>
			<string>${{userModel.nickName}}</string>
			<key>rid</key>
			<string>${{roomModel.room_id}}</string>
			<key>rpid</key>
			<string>632</string>
			<key>slt</key>
			<integer>120</integer>
			<key>uid</key>
			<string>${{userModel.uid}}</string>
			<key>level</key>
			<integer>24</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>下发彩色弹幕</string>
		<key>operationCode</key>
		<string>2000</string>
		<key>content</key>
		<dict>
			<key>msg</key>
			<dict>
				<key>teamId</key>
				<integer>0</integer>
				<key>content</key>
				<string>我就是测试下彩色弹幕是不是好使</string>
				<key>color</key>
				<string>1</string>
				<key>id</key>
				<integer>1234567</integer>
			</dict>
			<key>from</key>
			<dict>
				<key>lv</key>
				<integer>57</integer>
				<key>ms</key>
				<array>
					<integer>1565680685</integer>
					<integer>1545038306</integer>
					<integer>0</integer>
				</array>
				<key>n</key>
				<string>${{userModel.nickName}}</string>
				<key>u</key>
				<string>${{userModel.uid}}</string>
				<key>pt</key>
				<string>ios</string>
				<key>r</key>
				<integer>1</integer>
				<key>f</key>
				<dict>
					<key>i</key>
					<integer>10</integer>
					<key>id</key>
					<integer>1</integer>
					<key>t</key>
					<string>李超群</string>
					<key>l</key>
					<integer>12</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>礼物横幅</string>
		<key>operationCode</key>
		<string>20000</string>
		<key>content</key>
		<dict>
			<key>sid</key>
			<integer>13303427</integer>
			<key>sn</key>
			<string>小老弟</string>
			<key>dn</key>
			<string>李超群</string>
			<key>drid</key>
			<integer>10000419</integer>
			<key>gfid</key>
			<integer>530</integer>
			<key>gcnt</key>
			<integer>5</integer>
			<key>cnt</key>
			<integer>1</integer>
			<key>gn</key>
			<string>超级大宝剑</string>
			<key>gs</key>
			<integer>9</integer>
			<key>eid</key>
			<integer>56</integer>
			<key>es</key>
			<integer>1</integer>
			<key>gb</key>
			<integer>1</integer>
			<key>gc</key>
			<integer>1</integer>
			<key>atype</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>抽奖横幅</string>
		<key>operationCode</key>
		<string>20019</string>
		<key>content</key>
		<dict>
			<key>an</key>
			<string>小老弟</string>
			<key>rid</key>
			<integer>10000419</integer>
			<key>t</key>
			<integer>1</integer>
			<key>p</key>
			<string>超级大宝剑</string>
			<key>pa</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>抽奖结束</string>
		<key>operationCode</key>
		<string>20007</string>
		<key>content</key>
		<dict>
			<key>lid</key>
			<string>376422598710530048</string>
			<key>status</key>
			<integer>5</integer>
		</dict>
	</dict>
	<dict>
		<key>showTitle</key>
		<string>鉴权成功</string>
		<key>operationCode</key>
		<string>8</string>
		<key>content</key>
		<dict>
			<key>status</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
